* {
  font-family: Poppins;
}

.h-font {
  font-family: manrope;
}

/* Remove number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.custom-bg {
  background-color: #2ec1ac;
  border: 1px solid #2ec1ac;
}

.custom-bg:hover {
  background-color: #279e8c;
  border-color: #279e8c;
}
