:root {
  --teal:#2ec1ac !important;
  --teal_hover:#279e8c;
}

* {
  font-family: Poppins;
}

.h-font {
  font-family: manrope;
}

/* Remove number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.custom-bg {
  background-color: var(--teal);
  border: 1px solid var(--teal);
}

.custom-bg:hover {
  background-color: var(--teal_hover);
  border-color: var(--teal_hover);
}
