:root {
  --primary: 	#3b38ad;
  --primary_hover: #3b37adc9;
}

* {
  font-family: Poppins;
}

.h-font {
  font-family: manrope;
}

/* Remove number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.custom-bg {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.custom-bg:hover {
  background-color: var(--primary_hover);
  border-color: var(--primary_hover);
}

.custom-border {
  border: 2px solid #3b37ad25;
}

.navbar-blur {
  background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}

body {
  background-color: (255, 255, 255, 1);
}
